@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Apercu';
  color:white;
}

.textGreenHeader {
  color: rgb(111 126 13);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
  background-color: rgb(207 224 98);
}

.blueHeader {
  width: 100%;
  height: 438px;
  background-image: url(../img/headerBall.jpg);
  background-repeat: no-repeat;
  background-size: 100% 438px;
}

.navflex-desktop{
  display: none;
}

.navflex-mobile{
  display: block;
}

.nav-bar-mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.nav-mobileContent{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-products {
  font-size: 12px;
}

.nav-arrowProducts{
  padding-left: 2px;
}

.nav-contact {
  font-size: 12px;
}

.header-title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
}

.header-text{
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding: 30px 60px 45px 60px;
}

.subtitle-mobile{
  display: block;
}

.subtitle-desktop{
  display: none;
}

.flex-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonOrange{
  background-color: rgb(217 99 33);
  color: white;
  border-radius: 50px;
  padding: 12px 25px;
  border: none;
  width: 180px;
  cursor: pointer;
}

.buttonOrange:hover{
  opacity: 0.8;
}

.article-mobile{
  display: block;
  margin: 40px 16px 36px 16px;
  border: 1px solid;
  border-color: rgb(150 153 149);
  border-radius: 15px;
}

.article-desktop{
  display: none;
}

.circle-left{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgb(217 99 33);
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle-left:hover{
  opacity: 0.8;
}

.article-product{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.arrow-right{
  transform: scaleX(-1);
}

.arrow-right:hover{
  opacity: 0.8;
}

.article1-text{
  color: black;
  font-size: 12px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 20px;
}

.margin-botton{
  margin-bottom: 20px;
}

.categorys-align{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 35px 16px 30px 16px;
}

.category-content{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.image-raquets{
  background-image: url(../img/rackets.jpg);
}

.image-balls{
  background-image: url(../img/balls.jpg);
}

.image-accesories{
  background-image: url(../img/accessories.jpg);
}

.category-name{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 230px
}

.green-garden{
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100% 250px;
  background-image: url(../img/greenGrass.jpg);
}

.title-pasion{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 75px 0px 30px 0px;
}

footer{
  background-color: rgb(207 224 98);
  width: 100%;
  height: 120px;
}

.footer-icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.footer-redes{
  margin: 0px 8px 0px 8px;
}

.footer-terms-mobile{
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(111 126 13);
  padding-top: 16px;
}

.footer-text{
  color: rgb(111 126 13);
}

.footer-terms-desktop{
  display: none;
}

.footer-underline{
  text-decoration: underline;
  text-decoration-color: rgb(111 126 13);
  color: rgb(111 126 13);
}

.footer-ball{
  display: none;
}

.article-superDesktop{
  display: none;
}



/* Diseño tablet */
@media only screen and (min-width: 768px) and (max-device-width: 1438px){
  .categorys-align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 100px 50px 100px;
  }

  .category-content{
    margin: 0px 16px 0px 16px;
  }

  .category-content:hover{
    opacity: 0.8;
  }

  .navflex-desktop{
    display: block;
  }
  
  .navflex-mobile{
    display: none;
  }

  .nav-bar-desktop{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 29px; 
  }

  .nav-products {
    padding-left: 50px;
    padding-top: 6px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .nav-arrowProducts{
    padding-left: 13px;
    cursor: pointer;
  }
  
  .nav-contact {
    padding-right: 50px;
    padding-top: 6px;
    font-size: 15px;
    cursor: pointer;
  }

  .article-mobile{
    border-color: white;
  }

  .footer{
    height: 200px;
  }

  .footer-terms-mobile{
    font-size: 12px;
  }

  .footer-redes{
    cursor: pointer;
  }

  .footer-underline:hover{
    cursor: pointer;
  }

  .article-superDesktop{
    display: none;
  }
}


/* Diseño desktop */
@media only screen and (min-width: 1440px){
  .textGreenHeader {
    font-size: 15px;
    padding: 7px;
  }

  .blueHeader {
    height: 626px;
    background-size: 100% 626px;
  }

  .navflex-desktop{
    display: block;
  }
  
  .navflex-mobile{
    display: none;
  }

  .nav-bar-desktop{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 29px; 
  }

  .nav-products {
    padding-left: 71px;
    padding-top: 6px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .nav-arrowProducts{
    padding-left: 13px;
    cursor: pointer;
  }
  
  .nav-contact {
    padding-right: 123px;
    padding-top: 6px;
    font-size: 15px;
    cursor: pointer;
  }

  .header-title{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding-top: 86px;
    margin: 0px 237px 0px 236px;
  }

  .header-text{    
    font-size: 21px;
    padding: 0px;       
  }

  .subtitle-mobile{
    display: none;
  }

  .subtitle-desktop{
    display: block;
    margin: 30px 486px 45px 487px;
    padding: 0px;
  }

  .buttonOrange{
    width: 272px;
    height: 54px;
    font-size: 15px;
    padding: 21px 30px;
    font-weight: bold;
    cursor: pointer;
  }

  .buttonOrange:hover{
    opacity: 0.80;
  }

  .article-mobile{
    display: none;
  }
  
  .article-desktop{
    display: block;
    margin-top: 124px;
  }

  .flex-articles{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .left-articles-arrow{
    margin-left: 182px;
    margin-right: 24px;
  }

  .circle-left{
    width: 47px;
    height: 47px;
  }

  .article-product1{
    margin-right: 11px;
    width: 304px; 
    height: 378px;
  }

  .article-product2{
    margin-right: 12px;
    width: 303px; 
    height: 378px;
  }

  .article-product3{
    margin-right: 24px;
    width: 305px; 
    height: 378px;
  }

  .row-title-articles{
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .text-article1{
    margin-left: 254px;
    margin-top: 9px;
    margin-right: 11px;
    width: 304px;
  }

  .name-article1{
    color:black;
    font-size: 19px;
    text-align: center;
    padding-bottom: 25px;
  }

  .name-article2{
    color:black;
    font-size: 19px;
    text-align: center;
    padding-bottom: 49px;
  }

  .text-article2{
    margin-top: 9px;
    margin-right: 12px;
    width: 304px;
  }

  .text-article3{
    margin-top: 9px;
    width: 304px;
  }

  .price-text{
    font-size: 17px;
    color: rgb(217 99 33);
    text-align: center;
  }

  .button-position-articles{
    margin-top: 41px;
    margin-bottom: 133px;
  }

  .categorys-align{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 133px 0px 0px 0px;
  }
  
  .category-content{
    width: 100%;
    height: 560px;
    background-repeat: no-repeat;
    background-size: 100% 560px;
    border-radius: 0px;
    margin-bottom: 0px;
    cursor: pointer;
  }

  .category-content:hover{
    opacity: 0.7;
  }
  
  .image-raquets{
    background-image: url(../img/rackets.jpg);
  }
  
  .image-balls{
    background-image: url(../img/balls.jpg);
  }
  
  .image-accesories{
    background-image: url(../img/accessories.jpg);
  }

  .category-name{
    font-size: 40px;
    padding-top: 0px
  }

  .category-raquet{
    margin: 448px 39px 34px 38px;
    padding: 14px 0px 14px 0px;
  }

  .category-ball{
    margin: 448px 56px 34px 23px;
    padding: 14px 0px 14px 0px;
  }

  .category-accesories{
    margin: 448px 39px 34px 39px;
    padding: 14px 0px 14px 0px;
  }

  .green-garden{
    width: 100%;
    height: 499px;
    background-repeat: no-repeat;
    background-size: 100% 499px;
    background-image: url(../img/greenGrass.jpg);
  }
  
  .title-pasion{
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    padding: 167px 237px 45px 236px; 
  }

  .botton-buy{
    margin: 0px 584px 155px 584px
  }

  footer{
    background-color: rgb(207 224 98);
    width: 100%;
    height: 223px;
    position: relative;
  }
  
  .footer-ball{
    display: block;
    position: absolute;
    width: 104px;
    height: 104px;
    right: 74px;
    bottom: 60px;
  }

  .footer-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 74px;
    margin-left: 688px;
    margin-right: 684px;
  }
  
  .footer-redes{
    margin: 0px;
  }

  .footer-insta{
    margin-right: 11px;
    cursor: pointer;
  }

  .footer-fb{
    margin-left: 11px;
    cursor: pointer;
  }
  
  .footer-terms-mobile{
    display: none;
  }

  .footer-terms-desktop{
    display: block;
    text-align: center;
    font-size: 15px;
    color: rgb(111 126 13);
    padding-top: 0px;
    margin: 25px 508px 60px 506px;
  }
  
  .footer-underline{
    text-decoration: underline;
    text-decoration-color: rgb(111 126 13);
    color: rgb(111 126 13);
    cursor: pointer;
  }

  .article-superDesktop{
    display: none;
  }
}


/* Diseño superior a desktop */
@media only screen and (min-width: 1501px){
  .textGreenHeader{
    font-size: 20px;
  }

  .nav-products{
    font-size: 25px;
  } 

  .nav-contact{
    font-size: 25px;
  }

  .header-title{
    font-size: 110px;
  }

  .subtitle-desktop{
    font-size: 20px;
  }

  .buttonOrange{
    width: 450px;
    font-size: 25px;
    padding: 5px 5px;
  }

  .article-mobile{
    display: none;
  }

  .article-desktop{
    display: none;
  }

  .article-superDesktop{
    display: block;
    margin: 150px 200px 20px 200px;
  }

  .article-product{
    width: 400px;
  }

  .article1-text{
    font-size: 15px
  }

  .margin-botton{
    margin: 120px 0px 0px 0px;
  }

  .margin-text2{
    margin-top: 22px;
  }

  .category-name{
    font-size: 40px;
  }

  .title-pasion{
    font-size: 90px;
  }

  .footer-terms-desktop{
    font-size: 20px;
  }
}